@charset "UTF8";

*{
    margin: 0;
    padding: 0;
}

.links{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
}

.links label{
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #000;

}

.links label:hover{
    background-color: rgba(166, 167, 152, 0.2);
}

.links a {
    text-decoration: none;
}

.scroll input{
    display: none;
}

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bloco img{
    width: 50%;  
}

#home{
    background-color: aliceblue; 
}

#home p{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;   
}

#mapa{
    background-color: #A0522D; 
}

#personagens{
    background-color: #aaa; 
}

#redes{
    background-color: khaki; 
}

.scroll{
    display: flex;
    width: 100vw;
    height:  100vh;
    overflow: hidden;
}

.sections{
    transition: all .4s;
}

#rd_mapa:checked ~ .sections{
    margin-top: -100vh;
}

#rd_personagens:checked ~ .sections{
    margin-top: -200vh;
}

#rd_redes:checked ~ .sections{
    margin-top: -300vh;
}

#rd_help:checked ~ .sections{
    margin-top: -400vh;
}

#redes a{
    text-decoration: black;
    color: black;
}

/*FORMULARIO*/

input, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: dodgerblue;
    display: block;
}

fieldset.group .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0,.2);
    display: block;
}

.campo input:focus, .campo textarea:focus{
    background: #e0e0f8;
}

.botao{
    font-size: 1.2em;
    background: slategrey;
    border: 0;
    margin-bottom: 1em;
    color: black;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0,.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0,.5);   
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0,.2);
    text-shadow: none; 
}

#subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 10%;
}

fieldset{
    border:0;
}

/*FORMULARIO*/